<!DOCTYPE html>
<html lang="es" ng-app="appBusquedaLibro">
<head>
	<title>busqueda</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body  ng-controller="appController">
	<nav>
	</nav>
	<section>
		<div>
			<label for="txtBusqueda">Titulo</label>
			<input type="text" id ="txtBusqueda" name="txtBusqueda" ng-model="txtBusquedaModel" placeholder="ingrese el texto de busqueda">
			<button ng-click="buscarLibro(txtBusquedaModel)">Buscar por titulo</button>
		</div>
		<div >
			<table>
				<tr>
					<th>id</th>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Editar</th>
				</tr>
				<!-- <tr ng-repeat="libro in librosEncontrados | filter:txtBusquedaModel"> -->
				<tr ng-repeat="libro in libros | filter:txtBusquedaModel | orderBy: 'titulo'">
					<td>{{libro.id}}</td>
					<td>{{libro.titulo}}</td>
					<td>{{libro.autor}}</td>
					<td><button ng-click="editarLibro({{libro.id}})">Editar</button></td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>