<!DOCTYPE html>
<html>
<head>
	<title>calculadora Angular</title>
	<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css">
	
</head>
	<body ng-app="Calculator" >
		<div ng-controller="CalculatorController">
			<input type="text" ng-change="onChangeValue()" ng-model="displayValue">
			<div>{{result}}</div>
			<button class="btn" type="button" ng-click="onClicClear()"> Clear</button>
			<button class="btn" type="button" ng-click="onClicSum()">+</button>
			<button class="btn" type="button" ng-click="onClicSubstract()">-</button>
			<button class="btn" type="button" ng-click="onClicMultiply()">*</button>
			<button class="btn" type="button" ng-click="onClicDivide()">/</button>
			<button class="btn" type="button" ng-click="onClicCalculate()">=</button>
		</div>
	<!-- scripts -->
		<!--<script src="bootstrap-3.3.6-dist/js/bootstrap.js"> </script>-->
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>